{% extends 'base.html' %}

{% load static %}

{% block title %}Форма 2.2{% endblock title %}

{% block form %}

<br><br>
<div class="container">  <!-- Главный контейнер -->
    <div class="row">  <!-- Первая строка -->
        <div class="col"></div>  <!-- Левая пустая часть (3 позиции) -->
        <div class="col-6 text-center">

            <!-- --- ВСТАВКА ФОРМЫ --- -->
            <!-- В "action" вставляем маршрут по которому будет обрабатываться эта форма -->
            <form class="row g-2" method="post" action="form_processing">
                <!-- ЗАЩИТА ФОРМЫ    -->
                {% csrf_token %}
                <!-- Вставка поля Email -->
                <div class="col-12">
                    <label>{{ form.name.label }}:</label>
                    {{ form.name }}
                </div>
                <!-- Вставка поля Age -->
                <div class="col-12">
                    <label>{{ form.age.label }}:</label>
                    {{ form.age }}
                </div>
                <!-- Вставка поля Flag -->
                <div class="col-12">
                    <label>{{ form.flag.label }}:</label>
                    {{ form.flag }}
                </div>
                <!-- Вставка поля Comment -->
                <div class="col-12">
                    <label>{{ form.comment.label }}:</label>
                    {{ form.comment }}
                </div>
                <!-- Вставка поля Ling -->
                <div class="col-12">
                    <label>{{ form.ling.label }}:</label>
                    {{ form.ling }}
                </div>
                <!-- Вставка поля Country -->
                <div class="col-12">
                    <label>{{ form.country.label }}:</label>
                    {{ form.country }}
                </div>
                <!-- Вставка поля File1 -->
                <div class="col-12">
                    <label>{{ form.file1.label }}:</label>
                    {{ form.file1 }}
                </div>
                <!-- Вставка поля File2 -->
                <div class="col-12">
                    <label>{{ form.file2.label }}:</label>
                    {{ form.file2 }}
                </div>
                <!-- КНОПКА ОТПРАВКИ --> <br>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>

        </div>  <!-- Центральная часть -->
        <div class="col"></div>  <!-- Правая пустая часть (3 позиции) -->
    </div>
</div>

<br><br>

{% endblock form %}
