<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Форма 1</title>
</head>
<body>

    <!-- --- ВСТАВКА ФОРМЫ --- -->
    <!-- В "action" вставляем маршрут по которому будет обрабатываться эта форма -->

    <form method="post" action="form_processing">
        <!-- ЗАЩИТА ФОРМЫ    --> {% csrf_token %}
        <!-- ПОЛЯ ВВОДА      --> <table>{{ form }}</table>
        <!-- КНОПКА ОТПРАВКИ --> <input type="submit" value="Отправить">
    </form>

</body>
</html>
