{% extends 'base.html' %}

{% load static %}

{% block title %}Form 3{% endblock title%}\

{% block form %}

<div class="container" style="padding: 25px;">
    <div class="row">
        <div class="col gy-5"></div>
        <div class="col-4 text-center">
            <form class="row g-2" method="post" action="">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    {{ form.email }}
                    <label for="floatingInput">{{ form.email.label }}:</label>
                </div>
                <div class="form-floating">
                    {{ form.password }}
                    <label for="floatingPassword">{{ form.password.label }}:</label>
                </div>
                <div>
                    <input type="submit" value="Отправить!?" class="btn btn-success">
                </div>
            </form>
        </div>
        <div class="col"></div>

    </div>
</div>


{% endblock form %}
