{% extends 'base.html' %}

{% load static %}

{% block title %}Операции с Базой данных{% endblock %}

{% block form %}

<div class="container">
    <div class="row">
        <!-- Вставка Формы -->
        <h2 class="text-center">Сохранения в БД полей формы</h2>
        <form method="post" action="">
            {% csrf_token %} <!-- ЗАЩИТА ФОРМЫ    -->
            <!-- ПОЛЯ ВВОДА      -->
            <table>{{ form }}</table>
            <input class="btn btn-primary" type="submit" value="Сохранить"> <!-- КНОПКА ОТПРАВКИ -->
            <a class="btn btn-secondary" href="{% url 'create' %}">Создать пользователя</a>
            <!-- КНОПКА не имеющее общее с формой -->
        </form>
        <h3>{{ lol }} <b>{{ error }}</b></h3>
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-8">
        <!-- Вставка Таблицы -->
        <h2 class="mt-5 text-center">Чтение из БД</h2>
        <table class="table">
            <tr>
                <th class="col">ID</th>
                <th class="col-5" style="text-align: left;">Имя</th>
                <th class="col-3">Возраст</th>
                <th class="col-3" style="text-align: center;">Действие</th>
            </tr>
            {% for elm in data %}
            {% if elm.id != user_id %}
            <!-- Строка (обычная) -->
            <tr>
                <td>{{ elm.id }}</td>
                <td>{{ elm.name }}</td>
                <td>{{ elm.age }}</td>
                <td style="text-align: right;"><a class="btn btn-outline-warning btn-sm" href="/edit/{{ elm.id }}">Изменить</a>
                    | <a class="btn btn-outline-danger btn-sm" href="/delete/{{ elm.id }}">Удалить</a></td>
            </tr>
            {% else %}
            <!-- Строка (для изменений) -->
            <tr>
                <form method="post" action="/edit/{{ elm.id }}">
                    {% csrf_token %}
                    <td>{{ elm.id }}</td>
                    <td>{{ form.name }}</td>
                    <td>{{ form.age }}</td>
                    <td><input class="btn btn-primary btn-sm" type="submit" value="Сохранить"> | <a
                            class="btn btn-outline-warning btn-sm" href="/operation">Отменить</a></td>
                </form>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col"></div>
</div>

{% endblock form %}
